@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Gloria+Hallelujah&family=Reenie+Beanie&display=swap');
*{
    font-family: "Fuzzy Bubbles", cursive;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    outline: none; border: none;
}
header{

}
div .user{

}