*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
main{
    display: flex;
    height: 100vh;
}
img{
    width: 100%;
}
.login-layout{
    max-width: 1150px;
    margin: auto;
    display: flex;
}
.col{
    flex: 1;
}
.form-section{
    display: flex;
    height: 100%;
    
}
form{
    margin: auto;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
}
h1{
    text-align: center;
}
a{
    text-align: center;
}
.login-btn{
    padding: 12px;
    border: none;
    background-color: navy;
    color: lavender;
}