*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
main{
    display: flex;
    height: 100vh;
}
.dashbourd{
    display: flex;
    flex-direction: column;
    max-width: 900px;
    background-color: lightseagreen;
    border: 1px solid lightpink;
    padding: 10;
    gap: 5px;
    margin: auto;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid lightskyblue;
    padding: 10;
    gap: 5px;
}
.col{
    border: 1px solid lightcoral;
    width: 200px;
    padding: 5px;
}
.col-1{
    flex: 1;
    flex-basis: 150px;
}
.col-2{
    flex: 2;
    flex-basis: 150px;
}
.flex-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.flex-row{
    border: 1px solid lightskyblue;
    padding: 12px;
}