body{
    margin: 0;
    font-family: 'Courier New', monospace;
}
.layout{
    display: flex;
    background-color: #A5CBC6;
    flex-direction: row;
}
.layout .content{
    padding: 12px;
    width: 60%;
    height: 96vh;
    overflow: auto;
}
.layout > .navbar{
    background-color: #74656E;
    padding: 20px 20px 20px 20px;
    height: calc(100vh-40px);
    overflow-y: auto;
    overflow-x: hidden;
    width: 30%;
    max-width: 200px;
}
/*.navbar{
    background-color: #74656E;
    font-size: 30px;
    overflow: auto;
    overflow-x: hidden;
    width: 30%;
    height: 100vh;
    padding: 20px;
}*/
.navbar > nav{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.navbar > nav > a{
    text-decoration: none;
    color: #efe0e9;
}

.content{
    background-color: #58ABAE;
    width: 60%;
    height: calc(100vh - 40px);
    /*margin: 20px;*/
    padding: 20px 20px 20px 20px;
    overflow: auto;
}
.cards-section{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}
.cards-section > .card{
    background-color: #f7f1dc;
    width: 20%;
    height: 150px;
}

